# Часть 1. Типы данных

## 1. Средний балл (списки) - 1 балл (по 0.2 за каждый пункт)

In [188]:
student = ['Иван Питонов', 2001, [8, 7, 7, 9, 6], True]

1. Выведите фамилию и имя Ивана в формате "Студент: {Фамилия}, {Имя}"

In [189]:
# В f-строке обращаемся к 0 элементу списка, делим ФИ по пробелу и обращаемся к элементам результата.
print (f'Студент: {student[0].split(' ')[0]}, {student[0].split(' ')[1]}')

Студент: Иван, Питонов

2. Выведите возраст Ивана, если сейчас 2020 год.

In [190]:
# В f-строке делаем 2020 - 1 элемент списка aka год рождения.
print(f'{2020 - student[1]} лет')

19 лет

3. Напечатайте оценки Ивана через запятую.

In [191]:
# Распаковываем 2 элемент списка через * и разделитель sep.
print(*student[2], sep = ', ', end='.\n')

8, 7, 7, 9, 6.

4. Найдите средний балл Ивана, если оценки хранятся в списке внутри. Сумму элементов списка можно найти с помощью функции sum(). Выведите средний балл.

In [192]:
# Через sum и len считаем среднее.
avg = sum(student[2])/len(student[2])
print(avg)

7.4

5. Если средняя оценка Ивана больше или равна 8, то он получает повышенную стипендию. Выведите True или False.

In [193]:
# Через условие выводим нужное значение.
if avg >= 8:
    print('True')
else: print('False')

False

## 2. Вложенные словари (0.25 балла)

Вам дан словарь, содержащий в себе списки словарей. Напишите код, который выведет на экран 'разработчик' из списка ключа Windows в в первом словаре из списка 2.

In [194]:
dict_of_lists = {'Список1': 
                 [{'Python': 'язык программирования'}, 
                  {'R':'язык программирования', 'LaTEX' : 'язык верстки' }],
                 'Список2' : 
                 [{'Windows' : ['операционная система', 'разработчик'], 'UNIX' : 'операционная система'},
                  {'IBM': ['компания-производитель', 'разработчик'], 'IPv6' : 'интернет-протокол' }]}


# Последовательно обращаемся к каждому элементу глубже и глубже в структуре.
print(dict_of_lists['Список2'][0]['Windows'][1])

разработчик

## 3. Станция метро (0.25 балла)

Напишите программу, которая запрашивает у пользователя название текущей станции метро (без лишнего пробела на конце) и выводит на экран сообщение...

In [195]:
line = ["Третьяковская", "Марксистская", "Площадь Ильича", "Авиамоторная", 
        "Шоссе Энтузиастов", "Перово", "Новогиреево", "Новокосино"]


# Проверяем все нужные условия и выводим соответствующие значения. Код сработает при любом содержимом списка.
print('Доступные для ввода станции:')
print(*line, sep = ', ')
text = input('Введите текущую станцию: ')
if text in line:
    if text == line[-1]:
        print('\nКонечная, покиньте вагон.')
    else:
        print(f'\nСледующая станция: {line[line.index(text)+1]}.')
else:
    print('\nОшибка: такой станции нет!')

Доступные для ввода станции:
Третьяковская, Марксистская, Площадь Ильича, Авиамоторная, Шоссе Энтузиастов, Перово, Новогиреево, Новокосино

Ошибка: такой станции нет!

# Часть 2. Условный оператор и циклы

## 4. Развернуть число - 0.5 балл

Вам на вход подается произвольное целое число. "Разверните" его, не используя преобразование к строке.

In [196]:
# Проверяем, что содержимое - число
try:
    x = int(input("Введите число: "))
    print(f"Вход: {x}")
except:
    print("Ошибка: это не целое число или вовсе не число!")
# exit() все ломает если запукать код через юпитер, поэтому не удалось избежать результата 'Выход: 0' при выполнении exept

# Фиксируем наличие минуса
sign = '-' if x < 0 else ''

# Делаем x положительным для расчетов
x = abs(x)


reversed_x = 0
while x != 0:
    # Забираем последнее число из x
    last_digit = x % 10
    # Добавляем его к reversed_x, предварительно умножив reversed_x на 10, чтобы "сдвинуть" предыдущие числа на 1 разряд
    reversed_x = reversed_x * 10 + last_digit
    # Убираем из x только что полученное число
    x = x // 10


print(f'Выход: {reversed_x}{sign}')

Вход: -321
Выход: 123-

## 5. Треугольник - (0.5 балла)

На вход принимается число N.

Выведите на печать следующий паттерн...

In [197]:
N = int(input("Введите число N: "))

for i in range(1, N + 1):  # Цикл от 1 до N
    for j in range(1, i + 1):  # Внутренний цикл от 1 до i
        print(j, end=" ")  # Печатаем числа через пробел (end чтобы не перескакивать на новую строку)
    print()  # Переход на новую строку после каждой итерации

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## 6. Про Поросёнка Петра (0.5 балла)

Не сделал

## 7. Объединение словарей (1 балл)

Напишите программу, которая подсчитывает значения из произвольного списка словарей следующего вида...

In [198]:
shops = [{'товар': 'яблоки', 'количество': 400}, {'товар': 'конфеты', 'количество': 300}, {'товар': 'яблоки', 'количество': 750}]


# пустой словарь для сбора данных
result = {}

# Проходим по каждому словарю в списке
for shop in shops:
    # извлекаем товар и количество
    tovar = shop['товар']
    colvo = shop['количество']

    # Если товар уже есть в словаре, прибавляем количество
    if tovar in result:
        result[tovar] += colvo
    else:
        # Если товара еще нет в словаре, добавляем его
        result[tovar] = colvo

# Выводим результат
print(result)

{'яблоки': 1150, 'конфеты': 300}

# Часть 3. Pandas (5.5 балла)

In [199]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

## Разминка 1 балл (по 0.2 за каждый пункт)

In [200]:
babies = pd.read_csv('https://raw.githubusercontent.com/pileyan/Data/master/data/babies%20names/babies_all.txt', index_col=0)

1. Какие годы включает датасет (можно использовать unique())

In [201]:
babies['year'].unique()

array([1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890,
       1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901,
       1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912,
       1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923,
       1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934,
       1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945,
       1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956,
       1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967,
       1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978,
       1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
       1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010])

2. Какое имя в датасете находится по индексом 121?

In [202]:
babies.loc[[121],['name']] 
# Результат указывает на наличие дублирующихся индексов '121' в датасете

# babies.loc[[121],['name']].index.duplicated() # другой способ убедиться в дублировании индекса

       name
121     Ann
121    Anne
121   Josie
121    Lola
121   Hazel
..      ...
121     Eva
121   Naomi
121   Bella
121   Jenna
121  Nicole

[131 rows x 1 columns]

3. Cколько всего родилось детей по имени 'Aaron' за все время? Сколько в датасете девочек по имени John?

In [203]:
sum(babies.name == 'Aaron')

212

In [204]:
babies[(babies.name == 'John') & (babies.sex == 'F')].shape[0] 
# Берем два условия, делаем shape и обращаемся к 1 элементу списка

131

4. Насколько больше за все время родилось мальчиков чем девочек?

In [205]:
len(babies[babies.sex == 'F']) - len(babies[babies.sex == 'M'])

317186

5. Cколько мальчиков родилось в 2010?

In [206]:
babies[(babies.year == 2010) & (babies.sex == 'M')].shape[0]

14140

## ЗАДАНИЯ (4.5 балла)

In [207]:
hotels = pd.read_csv("data/hotel_booking_data.csv")
# Файл данных должен лежать на аналогичном относительном пути от исполняющего файла, чтобы все сработало

ЗАДАНИЕ: Сколько строк содержится в этом наборе данных?

In [208]:
hotels.shape[0]

119390

ЗАДАНИЕ: Есть ли отсутствующие (пропущенные) данные? Если да, то в какой колонке их больше всего?

In [209]:
hotels.isnull().sum().sort_values(ascending=False)

company                           112593
agent                              16340
country                              488
children                               4
arrival_date_year                      0
lead_time                              0
is_canceled                            0
hotel                                  0
stays_in_weekend_nights                0
stays_in_week_nights                   0
arrival_date_day_of_month              0
arrival_date_month                     0
babies                                 0
meal                                   0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
adults                                 0
arrival_date_week_number               0
reserved_room_type                     0
previous_bookings_not_canceled         0
booking_changes                        0
assigned_room_type                     0
deposit_type                           0
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

ЗАДАНИЕ: Удалите колонку "company" из набора данных.

In [210]:
 
hotels_1 = hotels.drop('company',axis=1)
hotels_1.shape # Проверили, что колонка исчезла (осталось 35)

(119390, 35)

ЗАДАНИЕ: Какие 5 стран встречаются в наборе данных наиболее часто?

In [211]:
hotels['country'].value_counts().head()
# Используем метод, который считает количество вхождений для всех уникальных значений и сортирует их по убыванию.
# Затем отбираем 5 первых строк.

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: count, dtype: int64

ЗАДАНИЕ: Выведите имя человека, который заплатил наибольшую сумму за одни сутки (ADR - average daily rate)? Какое было значение этого ADR?

In [212]:
print(hotels.adr.max())
print(hotels.loc[hotels.adr == hotels.adr.max(),'name'])

5400.0
48515    Daniel Walter
Name: name, dtype: object

ЗАДАНИЕ: adr это средняя сумма за сутки для одного бронирования. Каково будет среднее значение adr для всех бронирований в этом наборе данных?

In [213]:
print(round(hotels.adr.mean(),2))

101.83

ЗАДАНИЕ: Каково среднее (mean) количество ночей, если сделать усреднение по всем бронированиям? Можете округлить до двух знаков после запятой.

In [214]:
print(round((hotels.stays_in_week_nights + hotels.stays_in_weekend_nights).mean(),2))

3.43

ЗАДАНИЕ: Какова средняя общая сумма бронирования в этом наборе данных? Не среднее за сутки, а среднее за бронирование. Можете округлить до двух знаков после запятой.

In [215]:
print(round((hotels.adr*(hotels.stays_in_week_nights + hotels.stays_in_weekend_nights)).mean(),2))
# Восстанавливаем из ADR сумму всех транзакций и считаем среднее

357.85

ЗАДАНИЕ: Выведите имена и адреса email тех, кто сделал ровно 5 специальных запросов ("Special Requests")?

In [216]:
hotels.loc[hotels.total_of_special_requests == 5, ['name', 'email']]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

ЗАДАНИЕ: Какой процент бронирований классифицированы как бронирования "повторными гостями"?(Для этого не следует использовать имя, воспользуйтесь колонкой is_repeated_guest)

In [217]:
round(sum(hotels.is_repeated_guest == 1) / hotels.shape[0] * 100, 2)

3.19

ЗАДАНИЕ: Какие 5 фамилий встречаются в этом наборе данных наиболее часто? 

Бонусное задание: Можете ли Вы сделать это с помощью одной строки кода в pandas? (Для упрощения задачи можете считать фамилией самое последнее слово в колонке, например для значения "Caroline Conley MD" можете в качестве фамилии вывести MD)

In [218]:
# Через apply применяем каждой фамилии функцию, определенную через lambda, затем считаем количество вхождений всех фамилий и выводим топ-5
hotels.name.apply(lambda x: x.split(sep=' ')[-1]).value_counts().head(5)
# ps Да, про lambda мне подсказал чатгпт, но я разобрался что это значит и как работает!

name
Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: count, dtype: int64

ЗАДАНИЕ: Выведите имена людей, которые бронировали номер для наибольшего количества детей и младенцев? (Отменённые бронирования тоже показывайте, то есть не важно, заехали они по факту в отель или нет - главное, что на момент бронирования номера было указано наибольшее количество детей+младенцев)

In [219]:
hotels.loc[(hotels.babies + hotels.children) == (hotels.babies + hotels.children).max(), ['name','adults','babies','children']].assign(total_kids=hotels.babies + hotels.children)
# порядок столбцов изменился, зато код в одну строчку!

                  name  adults  babies  children  total_kids
328      Jamie Ramirez       2       0      10.0        10.0
46619  Nicholas Parker       2      10       0.0        10.0

ЗАДАНИЕ: Какие 3 кода области (это первые три цифры телефона) встречаются в наборе данных наиболее часто?

In [220]:
hotels['phone-number'].apply(lambda x: x[:3]).value_counts().head(5)
# Аналогично заданию с фамилиями, только в этот раз мы просто берем первые три цифры номера. Можно сделать совсем аналогично фамилии: разделить номер по дефисам.

phone-number
799    168
185    167
541    166
137    163
763    163
Name: count, dtype: int64

ЗАДАНИЕ: Сколько людей заселились в отель между 1м и 15м числами месяца (включая 1 и 15)? Бонусное задание: можете ли Вы сделать это с помощью одной строки кода в pandas?

In [221]:
# из задания непонятно, предположим что считаются все, заселившиеся между 1 и 15 числом всех месяцев
sum(hotels.arrival_date_day_of_month.between(1,15, inclusive="both"))
# используем метод between для проверки принадлежности к диапазону

58152